{% set navTitle %}
  <a class="no-link-style" href="/">
    <strong style="font-weight: 700;">
      <span>nonplain</span>
      <br />
      <span>+ 11ty</span>
      <br />
      <span>starter</span>
    </strong>
  </a>
{% endset -%}

{% set pageTitle %}
  {%- if page.url != '/' -%}
    {{- title | safe }} -
  {% endif -%}
  nonplain-11ty-starter
{%- endset -%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{- pageTitle -}}</title>
    <meta name="description" content="Create an 11ty website out of nonplain files">

    {% set CSS -%}
      {% include "index.css" %}
    {%- endset %}
    <style>
      {{ CSS | cssmin | safe }}
    </style>
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-title">{{ navTitle | safe }}</div>

        {% set navPages = collections.all | eleventyNavigation %}
        {% macro renderNavListItem(entry) -%}
          <li{% if entry.key == eleventyNavigation.root %} class="selected"{% endif %}>
            <a href="{{ entry.url | url }}">{{ entry.title }}</a>
          </li>
        {%- endmacro %}
        <ul>
          {%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
        </ul>
      </nav>

      <h1 id="hidden-header" style="font-size: 0; opacity: 0; max-height: 0; max-width: 0;">{{ title }}</h1>
    </header>

    <main>
      {{ collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: true }) | eleventyNavigationToHtml({
        listClass: 'breadcrumb'
      }) | safe }}

      {{ content | safe }}
    </main>

    <footer>
      <span id="pubyear">2021</span>
      <script>document.getElementById("pubyear").innerHTML = (new Date).getFullYear()</script>
    </footer>
  </body>
</html>
